<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item"><i class="sun icon"></i>My Blog</div>
  		<a class="active item" href="/">Home</a>
  		<a class="item" href="/blogs/new">New</a>
 	</div>
	</div>
<p>From the header file</p>

